body{
    background-color: rgb(0, 0, 0);
}

.cabecalho{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgb(86, 84, 93);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabecalho h1 a{
    font-size: 30px;
}

.menu{
    display: flex;
    gap: 200px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
}

.cabecalho .menu li:hover{
    border-bottom: 2px solid white;
    padding: 5px;
}


.informacoes1{
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}

.informacoes1::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.764), rgba(0, 0, 0, .7) 40%, transparent 65%);
}

.informacoes1 img{
    width: 100%;
    object-fit: cover;
}

.informacoes1 .texto{
    position: absolute;
    min-height: calc(100vh - 80px);
    width: 400px;
    padding: 300px 400px 300px 100px;
    color: white;
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.informacoes1 .texto h1{
    margin-bottom: 15px;
}

.informacoes2 img{
    width: 500px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    border: 2px solid rgba(255, 255, 255, 0.318);
    background-color: rgba(43, 34, 171, 0.432);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px white;
}